html,
body {
	height: 95%;
	width: 95%;
	position: center;
	margin-top:15px;
 	margin-left:30px;
}

.wrap {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	color: #DCDCDC;
	text-align: center;
	background: #ffffff;

}
article {
	width: 20%;
	float: right;
	margin-top: 32%;
	color: #DCDCDC;
	text-align: left;
	background: #ffffff;
}
a {
    text-decoration: none;
    color: red;
   }

aside {
	background: #ffffff;
	top: 0;
	left: 0;
	z-index: 900;
	float: right;
	margin-top: 10% ;
	width: 10%;

}

aside label {
	color: #7888188;
	cursor: pointer;
	display: inline-block;
	line-height: 4.25em;
	font-size: 1em;
	font-weight: bold;
	padding: 0 1em;
}

aside label:hover {
	color: #000000;
}

.slide {
	height: 90%;
	width: 63%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-color: #ffffff;
	background-position: 50% 50%;
	transition: left 0s .75s;
	float: left;
	margin-top: 30px;
	margin-left: 30px;

}

.slide-one {
	background-image: url('http://p1.pichost.me/i/79/2044958.jpg');

}

.slide-two {
	background-image: url('http://p1.pichost.me/i/79/2044958.jpg');
}
.slide-three {
	background-image: url('http://p1.pichost.me/i/79/2044958.jpg');
}
.slide-four {
	background-image: url('http://p1.pichost.me/i/79/2044958.jpg');
}

.slide h1 {
	opacity: 0;
	transform: translateY(100%);
	transition: transform .5s .5s, opacity .5s;
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}

[id^='slide']:checked + .slide h1 {
	opacity: 1;
	transform: translateY(0);
	transition: all .5s .5s;
}
